.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  border-bottom: 2px solid #d3d6da;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: block;
  position: absolute;
  margin-right: 1em;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 4px;
  padding: 0 1em;
  z-index: 1;
  right: -1em;
  top: 2em;
}

.section-begin {
  border-top: 1px solid #d3d6da;
  padding-top: 1em;
}

h5 {
  margin: 0;
}
